services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_DB: armor_calculator
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql
volumes:
  db_data:
